<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- Character encoding for the document -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Responsive design settings -->
    <title>List of Places</title> <!-- Title of the page -->
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <!-- Header section containing the navigation links -->
    <header>
        <nav>
            <!-- Logo image -->
            <img src="pics/logo.png" alt="Page Logo">  <!-- Logo image for the page -->
            <!-- Login link (shown if user is not authenticated) -->
            <a href="auth/login.html" id="login-link">Login</a>
            <!-- Link to the "Place" page -->
            <a href="place/place.html" id="place-link">Place</a>
        </nav>
    </header>
    
    <!-- Main content section -->
    <main>
        <!-- Section for filtering places based on price -->
        <section id="filter">
            <label for="price-filter">Max Price:</label>
            <!-- Dropdown for selecting the maximum price for places -->
            <select id="price-filter">
                <!-- Price options for filtering places -->
                <option value="10">Up to $10</option>
                <option value="50">Up to $50</option>
                <option value="100">Up to $100</option>
                <option value="0">All</option> <!-- Option to show all places without filtering by price -->
            </select>
        </section>

        <!-- Section where the list of places will be displayed dynamically -->
        <section id="places-list">
            <!-- The places will be dynamically inserted here by JavaScript -->
        </section>
    </main>

 
    <script src="../static/scripts.js"></script>
</body>
</html>
