<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body> <!-- Section that users can see-->

    <header> <!-- Header with main title -->
    
        <h1 class="welcome">Welcome to HBNB</h1>  <!-- Main Title -->
    
    
        <!-- No Nav needed here since login page -->
    
    </header>
    </div>
        <main>
    <form class="form">
        <p class="title">Register </p>
        <img src="../pics/logo.png" alt="Page Logo" class="logo">  <!-- Logo -->
        <div class="flex">
        <label>
            <input class="input" type="text" placeholder="Firstname" required="">
        </label>

        <label>
            <input class="input" type="text" placeholder="Lastname" required="">
        </label>
    </div>  
            
    <label>
        <input class="input" type="email" placeholder="Email" required="">
    </label> 
        
    <label>
        <input class="input" type="password" placeholder="Password" required="">
    </label>
    <label>
        <input class="input" type="password" placeholder="Confirm password" required="">
    </label>
    <button class="submit">Submit</button>
    <p class="signin">Already have an acount? <a href="../auth/login.html">Signin</a> </p>
</form>
</main>
</body>