<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body> <!-- Section that users can see-->

<header> <!-- Header with main title -->

    <img src="../pics/logo.png" alt="Page Logo">  <!-- Logo -->
    <h1> Welcome to HBNB</h1>  <!-- Main Title -->

    <!-- No Nav needed here since login page -->

</header>
    <main>
        <div class="login-class">
            <h2>Login</h2>
        
            <div class="form">
                <form id="login-form">

                <input type="email" placeholder="Email" id="email" name="email" required>
            
                <input type="password" placeholder="Password" id="password" name="password" required>
            
                <button type="submit">Log in</button> <!-- button for click Event-->
                </form>
            </div>
        </div>
    </main>
    <script src="scripts.js"></script>

    <footer>
        <p>@Copyright 2024 by Cthullu. All rights reserved</p>
    </footer>
</body>
</html>